In [61]:
print('Hello')

Hello

In [62]:
print("Hello World")

Hello World

In [63]:
print("hello_python")

hello_python

In [64]:
print("Merry X'Mas")

Merry X'Mas

In [65]:
print('I want to ask you "Why don\'t you drive to work" ')

I want to ask you "Why don't you drive to work"

In [66]:
print('"I don\'t have a car"')

"I don't have a car"

In [67]:
print("You got a new job !? That's so exciting")

You got a new job !? That's so exciting

In [68]:
print("สวัสดีวันจันทร์")

สวัสดีวันจันทร์

In [69]:
print('ความแตกต่างระหว่างคนเก่งหับคนไม่เก่ง คือ"การใช้เวลาว่างให้เป็นประโยชน์"')

ความแตกต่างระหว่างคนเก่งหับคนไม่เก่ง คือ"การใช้เวลาว่างให้เป็นประโยชน์"

In [70]:
print("/\\/\\/\\")

/\/\/\

In [71]:
print("""a
an
ant""")

a
an
ant

In [72]:
print('''\t*
*\t*\t*
\t*''')

	*
*	*	*
	*

In [73]:
print('''*\t+\t*
+\t*\t+
*\t+\t*''')

*	+	*
+	*	+
*	+	*

In [74]:
print("""Just because something
thinks differently from you.
does that mean it's not thinking?""")

Just because something
thinks differently from you.
does that mean it's not thinking?

In [75]:
print("""\\\t\t/
\tx
/\t\t\\""")

\		/
	x
/		\

In [76]:
print('%d' %25)

25

In [77]:
print('%f' %100)

100.000000

In [78]:
from math import pi
print('%.15f' %pi)

3.141592653589793

In [79]:
a=2
print(a)

2

In [80]:
a=12.5
print(a)

12.5

In [81]:
a=2
b=3
print('%d x %d = %d' %(a, b, a*b))

2 x 3 = 6

In [82]:
a=2
b=3
print(a,'+',b,'=',b,'+',a,'=',a+b)

2 + 3 = 3 + 2 = 5

In [83]:
a=2
b=3 
c=5
print("%d*(%d+%d) = %d*%d + %d*%d" %(a, b, c, a, b, a, c))

2*(3+5) = 2*3 + 2*5

In [84]:
a=2.4
b=2.5
print('%.1f+%.1f=%.4f' %(a, b, a+b))

2.4+2.5=4.9000

In [85]:
a=5
b=2
print('%.2f-%.2f=%.4f' %(a, b, a-b))

5.00-2.00=3.0000

In [86]:
birthday=25
print("ฉันเกิดวันที่", birthday, "ธันวาคม")

ฉันเกิดวันที่ 25 ธันวาคม

In [87]:
a=5
b=100
print('%dเท่าของ%dมีค่าเท่ากับ%d' %(a, b, a*b))

5เท่าของ100มีค่าเท่ากับ500

In [88]:
a=3.5
print('เขามีเงินเยอะกว่าฉัน%.1fบาท' %(a))

เขามีเงินเยอะกว่าฉัน3.5บาท

In [89]:
a=5
print('ฉันได้กำไร %d %%' %a)

ฉันได้กำไร 5 %

In [90]:
a=2
b=3.5
print('เมื่อวานฉันขาดทุน %d %% วันนี้ฉันได้กำไร %.2f %%' %(a, b))

เมื่อวานฉันขาดทุน 2 % วันนี้ฉันได้กำไร 3.50 %

In [91]:
numeric1=5
print(numeric1)
print(type(numeric1))

5
<class 'int'>

In [92]:
numeric2=-3
print(numeric2)
print(type(numeric2))

-3
<class 'int'>

In [93]:
numeric3=0
print(numeric3)
print(type(numeric3))

0
<class 'int'>

In [60]:
numeric4 = int(input('input'))
print(numeric4)
print(type(numeric4))

5
<class 'int'>

In [94]:
numeric1 = 5.0
print(numeric1)
print(type(numeric1))

5.0
<class 'float'>

In [95]:
numeric2 = -3.1
print(numeric2)
print(type(numeric2))

-3.1
<class 'float'>

In [96]:
numeric3 = 0.0
print(numeric3)
print(type(numeric3))

0.0
<class 'float'>

In [97]:
numeric4 = float(input('input:'))
print(numeric4)
print(type(numeric4))

1.0
<class 'float'>

In [98]:
int1 = int(input('int1:'))
int2 = int(input('int1:'))
print("input:", int1, type(int1))
print("input:", int2, type(int2))
a = int1 + int2
print("ผลบวก=", a, type(a))
b = int1 - int2
print("ผลลบ=", b, type(b))
c = int1*int2
print("ผลคูณ=", c, type(c))
d = int1/int2
print("ผลหาร=", d, type(d))

input: 2 <class 'int'>
input: 5 <class 'int'>
ผลบวก= 7 <class 'int'>
ผลลบ= -3 <class 'int'>
ผลคูณ= 10 <class 'int'>
ผลหาร= 0.4 <class 'float'>

In [99]:
float1 = float(input("float1:"))
float2 = float(input("float2:"))
print("float1:", float1, type(float1))
print("float2:", float2, type(float2))
a = float1 + float2
print("ผลบวก=", a, type(a))
b = float1 - float2
print("ผลลบ=", b, type(b))
c = float1*float2
print("ผลคูณ=", c, type(c))
d = float1/float2
print("ผลหาร=", d, type(d))

float1: 5.0 <class 'float'>
float2: 5.0 <class 'float'>
ผลบวก= 10.0 <class 'float'>
ผลลบ= 0.0 <class 'float'>
ผลคูณ= 25.0 <class 'float'>
ผลหาร= 1.0 <class 'float'>

In [100]:
int1 = int(input('int1:'))
float1 = float(input('float1:'))
print("int1", int1, type(int1))
print("float", float1, type(float1))
a = int1 + float1
print("ผลบวก=", a, type(a))
b = int1 - float1
print("ผลลบ=", b, type(b))
c = int1*float1
print("ผลคูณ=", c, type(c))
d = int1/float1
print("ผลหาร=", d, type(d))

int1 5 <class 'int'>
float 5.0 <class 'float'>
ผลบวก= 10.0 <class 'float'>
ผลลบ= 0.0 <class 'float'>
ผลคูณ= 25.0 <class 'float'>
ผลหาร= 1.0 <class 'float'>

In [101]:
logic1 = True
print(logic1)
print(type(logic1))

True
<class 'bool'>

In [102]:
logic2 = False
print(logic2)
print(type(logic2))

False
<class 'bool'>

In [103]:
logic1 = True
logic2 = False
print((True and False))

False

In [104]:
logic1 = True
logic2 = False
print((True or False))

True

In [105]:
complex1 = 1+2j
print(complex1)
print(type(complex1))

(1+2j)
<class 'complex'>

In [106]:
complex1 = 1+2j
print(complex1.real)

1.0

In [107]:
complex1 = 1+2j
print(complex1.imag)

2.0

In [108]:
string1 = 'Python'
print(string1)
print(type(string1))

Python
<class 'str'>

In [109]:
string1 = 'Python'
print(string1[0])

P

In [110]:
string1 = 'Python'
print(string1[1])

y

In [111]:
string1 = 'Python'
print(string1[-1])

n

In [112]:
string1 = 'Python'
print(string1[-2])

o

In [113]:
string1 = 'Python'
print(string1[2])

t

In [114]:
string1 = 'Python'
print(string1[-3])

h

In [115]:
string1 = 'Python'
print(string1[2:-2])

th

In [116]:
string1 = 'Python'
print(string1[1:3])

yt

In [117]:
string1 = 'Python'
print(string1[2:-1])

tho

In [118]:
string1 = 'Python'
print(string1[-4:4])

th

In [119]:
string1 = 'Python'
print(string1[-6:4])

Pyth

In [120]:
string1 = 'Python'
print(string1[-4:-2])

th

In [121]:
string1 = input("string1=")
print(len(string1))

2

In [122]:
string1 = input("string1=")
print("h" in string1)

False

In [123]:
string1 = input("string1=")
string2 = input("string2=")
print(string2 in string1)

In [ ]:
string1 = input("string1=")
print(string1.replace('a', 'A'))

gAsgdA

In [ ]:
string1 = input("string1=")
string2 = string1.replace('a', 'A')
print(string2)

dgjk;lskdA

In [ ]:
sentence = input("sentence=")
print(sentence.split(" "))

['we', 'are']

In [ ]:
sentence = input("sentence=")
c = input("c=")
print(sentence.split(c))

['Wo', 'ld']

In [ ]:
str1 = input('str1=')
str2 = input('str2=')
print(str1+str2)

Friday

In [ ]:
list1 = [0, 1, 2,'a', 'b', 'c']
print(list1)
print(type(list1))

[0, 1, 2, 'a', 'b', 'c']
<class 'list'>

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2])

2

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[-3])

a

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[0])

0

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[-2])

b

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2:3])

[2]

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:-2])

[1, 2, 'a']

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:5])

[1, 2, 'a', 'b']

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[3:])

['a', 'b', 'c']

In [ ]:
list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[:-3])

[0, 1, 2]

In [ ]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[3] = 'duck'
print(list2)

['ant', 'bird', 'cat', 'duck', 'eagle']

In [ ]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[0] = 'ape'
print(list2)

['ape', 'bird', 'cat', 'dog', 'eagle']

In [ ]:
list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']
list2[4] = 'fish'
print(list2)

['ant', 'bird', 'cat', 'dog', 'fish']

In [ ]:
list2 = []
a = input("str1")
b = input("str2")
c = input("str3")
list2.append(a)
list2.append(b)
list2.append(c)
print(list2)

['Dog', 'Cat', 'Fish']

In [ ]:
list3 = ['apple', 'cherry', 'eggfruit']
list3.insert(1, 'banana')
print(list3)

['apple', 'banana', 'cherry', 'eggfruit']

In [ ]:
list3 = ['apple', 'banana', 'cherry', 'eggfruit']
list3.insert(-2, 'kiwi')
print(list3)

['apple', 'banana', 'kiwi', 'cherry', 'eggfruit']

In [ ]:
list4 = [0, 4, 2, 3, 1]
list4.sort()
print(list4)

[0, 1, 2, 3, 4]

In [ ]:
list4 = [0, 4, 2, 3, 1]
list4.sort(reverse=True)
print(list4)

[4, 3, 2, 1, 0]

In [ ]:
list4 = [0, 4, 2, 3, 1]
sorted_list4 = sorted(list4)
print(sorted_list4)

[0, 1, 2, 3, 4]

In [ ]:
list4 = [0, 4, 2, 3, 1]
sorted_list4 = sorted(list4, reverse=True)
print(sorted_list4)

[4, 3, 2, 1, 0]

In [ ]:
list5 = ['d', 'a', 'c', 'b', 'e']
list5.sort()
print(list5)

['a', 'b', 'c', 'd', 'e']

In [ ]:
list5 = ['d', 'a', 'c', 'b', 'e']
sorted_list5 = sorted(list5, reverse=True)
print(sorted_list5)

['e', 'd', 'c', 'b', 'a']

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)
print(list2)

['a', 'b', 'c', 1, 2, 3]
[1, 2, 3]

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list3 = list1 + list2
print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
[1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = [1, 2, 3, 1, 2, 3]
del list1[1]
print(list1)

[1, 3, 1, 2, 3]

In [ ]:
list1 = [1, 2, 3, 1, 2, 3]
del list1[2]
del list1[-1]
print(list1)

[1, 2, 1, 2]

In [ ]:
list1 = [1, 2, 3, 1, 2, 3]
list1.remove(1)
print(list1)

[2, 3, 1, 2, 3]

In [ ]:
list1 = [1, 2, 3, 1, 2, 3]
list1.remove(1)
list1.remove(1)
print(list1)

[2, 3, 2, 3]

In [ ]:
list1 = [1, 2, 3, 1, 2, 3]
list1.clear()
print(list1)

[]

In [ ]:
list1 = [1, 2, 3, 1, 2, 3]
print(len(list1))

6

In [ ]:
list1 = [1, 2, 3, 4, 5]
numeric1 = int(input("numeric1="))
print(numeric1 in list1)

True

In [2]:
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1)
print(type(tuple1))

('America', 'Brazil', 'China', 'Dominican', 'Egypt')
<class 'tuple'>

In [1]:
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[1])

Brazil

In [2]:
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[-2])

Dominican

In [3]:
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[2])

China

In [4]:
tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')
print(tuple1[-1])

Egypt

In [6]:
tuple2 = ['one', 'two', 'three', 1, 2, 3]
print(tuple2[1:3])

['two', 'three']

In [7]:
tuple2 = ['one', 'two', 'three', 1, 2, 3]
print(tuple2[2:-2])

['three', 1]

In [9]:
tuple2 = ['one', 'two', 'three', 1, 2, 3]
print(tuple2[2:4])

['three', 1]

In [12]:
tuple2 = ['one', 'two', 'three', 1, 2, 3]
print(tuple2[0:3])

['one', 'two', 'three']

In [13]:
tuple3 = ['one', 'two', 'three', 'four', 'five']
print(len(tuple3))

5

In [15]:
tuple3 = ['one', 'two', 'three', 'four', 'five']
str1 = input('str1=')
print(str1 in tuple3)

False

In [16]:
dict1 = {'first_name' : 'John', 'last_name' : 'Doe' }
print(dict1)
print(type(dict1))

{'first_name': 'John', 'last_name': 'Doe'}
<class 'dict'>

In [18]:
dict1 = {'first_name': 'John', 'last_name': 'Doe'}
print(dict1['first_name'])

John

In [19]:
dict1 = {'first_name': 'John', 'last_name': 'Doe'}
print(dict1['last_name'])

Doe

In [20]:
dict1 = {'first_name': 'John', 'last_name': 'Doe'}
print(dict1.keys())

dict_keys(['first_name', 'last_name'])

In [22]:
dict1 = {'first_name': 'John', 'last_name': 'Doe'}
print(dict1.values())

dict_values(['John', 'Doe'])

In [25]:
dict1 = {'first_name': 'John', 'last_name': 'Doe'}
dict1['first_name'] = 'Jane'
print(dict1)

{'first_name': 'Jane', 'last_name': 'Doe'}

In [26]:
dict1 = {'first_name': 'John', 'last_name': 'Doe'}
dict1['age'] = 32
print(dict1)

{'first_name': 'John', 'last_name': 'Doe', 'age': 32}

In [29]:
dict1 = {'first_name': 'John', 'last_name': 'Doe'}
dict1.update({'age' : 32, 'hobby' : ['coding', 'studying']})
print(dict1)

{'first_name': 'John', 'last_name': 'Doe', 'age': 32, 'hobby': ['coding', 'studying']}

In [30]:
dict1 = {}
str1 = input('str1=')
str2 = input('str2=')
dict1[str1] = str2
print(dict1)

{'A': 'a'}

In [32]:
dict1 = {'first_name': 'John', 'last_name': 'Doe', 'age': 32}
del dict1['age']
print(dict1)

{'first_name': 'John', 'last_name': 'Doe'}

In [35]:
dict1 = {'first_name': 'John', 'last_name': 'Doe', 'age': 32}
dict1.clear()
print(dict1)

{}

In [38]:
dict1 = {'first_name': 'John', 'last_name': 'Doe', 'age': 32}
print(len(dict1.keys()))

3

In [39]:
dict1 = {'first_name': 'John', 'last_name': 'Doe', 'age': 32}
str1 = input('str1=')
print(str1 in dict1.keys())

True

In [44]:
dict1 = {'first_name': 'John', 'last_name': 'Doe', 'age': 32}
str1 = input('str1=')
print('str1=', str1)
print('มีค่าความจริงคือ', str1 in dict1.values())

str1= Jooo
มีค่าความจริงคือ False

In [45]:
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
print(set1)
print(type(set1))

{1, 2, 3, 'ii', 'i', 'iii'}
<class 'set'>

In [47]:
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
for s in set1 : print(s)

1
2
3
ii
i
iii

In [50]:
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
set1.add('iv')
for x in set1 : print(x)

1
2
3
ii
iv
i
iii

In [51]:
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
set1.add(1)
print(set1)

{1, 2, 3, 'ii', 'i', 'iii'}

In [55]:
set1 = set()
str1 = input('str1=')
str2 = input('str2=')
str3 = input('str3=')
set1.add(str1)
set1.add(str2)
set1.add(str3)
print(set1)

{'ii', '1', '2'}

In [58]:
set1 = set()
str1 = input('str1=')
str2 = input('str2=')
str3 = input('str3=')
set1.update({str1, str2, str3})
print(set1)

{'1', '2', 'p'}

In [1]:
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
set1.remove('i')
print(set1)

{'iii', 1, 2, 3, 'ii'}

In [4]:
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
print(len(set1))

6

In [7]:
set1 = {1, 2, 3, 'i', 'ii', 'iii'}
int1 = int(input('int1='))
print(int1 in set1)

False

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set1 | set2)

{1, 2, 3, 4, 5, 6}

In [9]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set1 & set2)

{3, 4, 5}

In [10]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set1 - set2)

{1, 2}

In [11]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set2 - set1)

{6}

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}
print(set1 ^ set2)

{1, 2, 6}

In [14]:
2**3+5*7-9

34

In [15]:
7%2**2

3

In [17]:
5*2**3+4*5

60

In [19]:
y = 2**4**1/2
print(y)

8.0

In [21]:
y = 2*4-15
print(y >= 1)

False

In [7]:
number = int(input('number='))
if number%2 == 0 :
    print('เลขคู่')
else :
    print('เลขคี่')

เลขคู่

In [9]:
number = int(input('number='))
if number > 0 :
    print('มากกว่า0')
else :
    print('น้อยกว่าหรือเท่ากับ0')

น้อยกว่าหรือเท่ากับ0

In [14]:
input_int = int(input())
if input_int > 0 :
    print("positive")
elif input_int < 0:
    print("nagative")
else :
    print("Zero")

Nagative

In [21]:
number = int(input('Number='))
if number > 0 :
    if number %2 == 0 :
        print('positive even')
    else :
        print('positive odd')
elif number < 0 :
    if number %2 == 0 :
        print('negative even')
    else:
        print('negative odd')
else :
    print('zero')

negative even

In [2]:
width = int(input())
length = int(input())
if (width <= 0) or (length <= 0) :
    print('กรุณากรอกจำนวนเต็มบวก')
else :
    area = width*length
    print(area)

9

In [4]:
number = int(input())
if number >= 0 :
    kis = number+543
    print(kis)
else :
    print('กรุณากรอกข้อมูลที่มากกว่าหรือเท่ากับ0')

2547

In [8]:
F = int(input())
if F >= 32 :
    C = (5*(F-32))/9
    print(C)
else :
    print('cold')

17.77777777777778

In [11]:
USD = float(input())
if USD > 0 :
    THB = USD*32.5
    print(THB)
else :
    print("you don't have money")

106.1125

In [12]:
THB = float(input())
if THB > 0 :
    USD = THB/32.80
    BANK = USD*0.30
    print(USD) 
    print(BANK)
else :
    print("you don't have money")

3.048780487804878
0.9146341463414633

In [16]:
float1 = float(input())
float2 = float(input())
if float1 > float2 :
    print('float1 มากกว่า float2')
elif float1 < float2 :
    print('float1 น้อยกว่า float2')
else :
    print('มีค่าเท่ากัน')

float1 น้อยกว่า float2

In [19]:
str1 = str(input())
str2 = str(input())
if len(str1) == len(str2) :
    print("Same")
else :
    print("Not Same")

Not Same

In [21]:
int1 = int(input())
if int1 %3 == 0 :
    print('หาร3ลงตัว')
else :
    print('หาร3ไม่ลงตัว')

หาร3ไม่ลงตัว

In [26]:
int1 = int(input())
if int1 %3 == 0 and int1 %5 == 0 :
    print('หารด้วย3และ5ลงตัว')
else :
    print('หารด้วย3และ5ไม่ลงตัว')

หารด้วย3และ5ลงตัว

In [27]:
int1 = int(input())
if int1 % 3 == 0 or int1 % 5 == 0:
    print('หารด้วย3หรือ5ลงตัว')
else:
    print('หารด้วย3หรือ5ไม่ลงตัว')

หารด้วย3หรือ5ลงตัว

In [2]:
a = float(input('a='))
b = float(input('b='))
c = float(input('c='))
if a + b > c :
    print('a + b > c')

a + b > c

In [6]:
hour = int(input())
minute = int(input())
if minute > 0 :
    hour = hour + 1
fee = (hour - 1)*30
print(fee)

30

In [8]:
hour = int(input())
minute = int(input())
if (hour < 0) or (minute < 0) :
    print('โปรดใส่ข้อมูลที่ไม่ติดลบ')
else :
    if minute > 0 :
        hour = hour + 1
    fee = (hour-1)*30
    print(fee)

30

In [16]:
bill = int(input())
hour = int(input())
minute = int(input())
if minute > 0:
    hour = hour + 1
if bill >= 1000 :
    fee = (hour-4)*30
    if fee < 0 :
        fee = 0
else :
    fee = (hour-1)*30
print(fee)

150

In [10]:
bill = float(input())
if bill >= 50000 :
    fee = bill - (0.2)*bill
elif bill >= 10000 :
    fee = bill - (0.15)*bill
elif bill >= 1000 :
    fee = bill - (0.1)*bill
else :
    fee = bill
print(fee)

160000.0

In [18]:
gender = input()
weight = float(input())
height = int(input())
if gender == 'ชาย' :
    if weight > height-100 :
        print('คุณควรออกกำลังกาย')
    else :
        print('คุณผู้ชายหุ่นดี')
elif gender == 'หญิง' :
    if weight > height-110:
        print('คุณควรออกกำลังกาย')
    else:
        print('คุณผู้หญิงหุ่นดี')

คุณควรออกกำลังกาย

In [20]:
velocity = float(input())
if velocity > 120 :
    print('ออกใบสั่ง')

ออกใบสั่ง

In [23]:
velocity = float(input())
if velocity > 120 :
    print('ปรับ 1,000 บาท')
elif velocity > 80 :
    print('ปรับ 500 บาท')

In [25]:
listen_time = float(input())
if listen_time > 4 :
    print('อันตรายต่อหู')
else :
    print('ขอให้มีความสุขกับการฟังเพลง')

ขอให้มีความสุขกับการฟังเพลง

In [28]:
status = input()
distance = float(input())
if status == 'คล่องตัว' :
    cost = distance*10
elif status == 'ปานกลาง' :
    cost = distance*12
elif status == 'หนาแน่น' :
    cost = distance*15
print(cost)

150.0

In [29]:
score = int(input())
if score >= 50 :
    print('Pass')
else :
    print('Fail')

Pass

In [31]:
score = int(input())
if score >= 80 :
    print('A')
elif score >= 70 :
    print('B')
elif score >= 60 :
    print('C')
elif score >= 50 :
    print('D')
else :
    print('Fail')

Fail

In [2]:
isMember = input()
bill = int(input())
if isMember == 'yes' :
    if bill >= 5000 :
        A = 0.15*bill
    elif bill >= 1000 :
        A = 0.10*bill
    elif bill >= 500 :
        A = 0.05*bill
    else :
        A = 0
    print(A)
elif isMember == 'no' :
    A = 0
    print(A)

1500.0

In [7]:
currency = input()
amount = float(input())
if currency == 'USD' :
    THB = amount*32.5
elif currency == 'JPY' :
    THB = amount*0.29
print(THB)

8.7

In [11]:
order = input()
amount = int(input())
if order == 'ไข่ดาว' :
    cost = amount*7
    print(cost)
elif order == 'ไข่เจียว' :
    cost = amount*10
    print(cost)
elif cost == 'ไข่ต้ม' :
    cost = amoust*5
    print(cost)
else :
    print('ร้านเรามี ไข่ดาว,ไข่เจียว,ไข่ต้ม')

14

In [14]:
order = input()
if order == 'ไข่ดาว' :
    print('แนะนำให้สั่งคู่กับต้มจืดไข่น้ำ')
elif order == 'ไข่เจียว' :
    print('แนะนำให้สั่งคู่กับไข่ลูกเขย')
elif order == 'ไข่ต้ม' :
    print('แนะนำให้สั่งคู่กับยำไข่ดาว')
else :
    print('ร้านเรามี ไข่ดาว, ไข่เจียว, ไข่ต้ม')

แนะนำให้สั่งคู่กับยำไข่ดาว

In [15]:
for i in range(11):
    print(i)

i = 0
while i <= 10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(1, 11) :
    print(i)

i = 1
while i <= 10 :
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [1]:
for i in range(3, 14) :
    print(i)

i = 3
while i <= 13 :
    print(i)
    i = i+1

3
4
5
6
7
8
9
10
11
12
13
3
4
5
6
7
8
9
10
11
12
13

In [3]:
for i in range(-3, 5) :
    print(i)

i = -3
while i <= 4 :
    print(i)
    i = i+1

-3
-2
-1
0
1
2
3
4
-3
-2
-1
0
1
2
3
4

In [4]:
for i in range(-6, 1) :
    print(i)

i = -6
while i <= 0 :
    print(i)
    i = i+1

-6
-5
-4
-3
-2
-1
0
-6
-5
-4
-3
-2
-1
0

In [6]:
for i in range(-14, -6) :
    print(i)

i = -14
while i <= -7 :
    print(i)
    i = i+1

-14
-13
-12
-11
-10
-9
-8
-7
-14
-13
-12
-11
-10
-9
-8
-7

In [7]:
for i in range(0, 13, 2) :
    print(i)

i = 0
while i <= 12 :
    print(i)
    i = i+2

0
2
4
6
8
10
12
0
2
4
6
8
10
12

In [8]:
for i in range(0, 11, 1) :
    print(i)

i = 0
while i <= 10 :
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(6, 16, 3) :
    print(i)

i = 6
while i <= 15 :
    print(i)
    i = i+3

6
9
12
15
6
9
12
15

In [1]:
for i in range(-16, 5, 4) :
    print(i)

i = -16
while i <= 4 :
    print(i)
    i = i+4

-16
-12
-8
-4
0
4
-16
-12
-8
-4
0
4

In [3]:
for i in range(7, 3, -1) :
    print(i)

i = 7
while i >= 4 :
    print(i)
    i = i-1

7
6
5
4
7
6
5
4

In [4]:
for i in range(8, -1, -1) :
    print(i)

i = 8
while i >= 0 :
    print(i)
    i = i-1

8
7
6
5
4
3
2
1
0
8
7
6
5
4
3
2
1
0

In [5]:
for i in range(8, -2, -1) :
    print(i)

i = 8
while i >= -1 :
    print(i)
    i = i-1

8
7
6
5
4
3
2
1
0
-1
8
7
6
5
4
3
2
1
0
-1

In [6]:
for i in range(-2, -9, -1):
    print(i)

i = -2
while i >= -8 :
    print(i)
    i = i-1

-2
-3
-4
-5
-6
-7
-8
-2
-3
-4
-5
-6
-7
-8

In [7]:
for i in range(12, -4, -3) :
    print(i)

i = 12
while i >= -3 :
    print(i)
    i = i-3

12
9
6
3
0
-3
12
9
6
3
0
-3

In [8]:
for i in range(20, -4, -5) :
    print(i)

i = 20
while i >= -3 :
    print(i)
    i = i-5

20
15
10
5
0
20
15
10
5
0

In [9]:
for i in range(-5, 5, 2):
    for j in range(2, 12, 3):
        print(i, j)

-5 2
-5 5
-5 8
-5 11
-3 2
-3 5
-3 8
-3 11
-1 2
-1 5
-1 8
-1 11
1 2
1 5
1 8
1 11
3 2
3 5
3 8
3 11

In [13]:
i = -5
while i <= 4 :
    j = 2
    while j <= 11 :
        print(i, j)
        j = j+3
    i = i+2

-5 2
-5 5
-5 8
-5 11
-3 2
-3 5
-3 8
-3 11
-1 2
-1 5
-1 8
-1 11
1 2
1 5
1 8
1 11
3 2
3 5
3 8
3 11

In [14]:
for i in range(0, 6, 1) :
    for j in range(4, -7, -1) :
        print(i, j)

0 4
0 3
0 2
0 1
0 0
0 -1
0 -2
0 -3
0 -4
0 -5
0 -6
1 4
1 3
1 2
1 1
1 0
1 -1
1 -2
1 -3
1 -4
1 -5
1 -6
2 4
2 3
2 2
2 1
2 0
2 -1
2 -2
2 -3
2 -4
2 -5
2 -6
3 4
3 3
3 2
3 1
3 0
3 -1
3 -2
3 -3
3 -4
3 -5
3 -6
4 4
4 3
4 2
4 1
4 0
4 -1
4 -2
4 -3
4 -4
4 -5
4 -6
5 4
5 3
5 2
5 1
5 0
5 -1
5 -2
5 -3
5 -4
5 -5
5 -6

In [15]:
i = 0
while i <= 5 :
    j = 4
    while j >= -6 :
        print(i, j)
        j = j-1
    i = i+1

0 4
0 3
0 2
0 1
0 0
0 -1
0 -2
0 -3
0 -4
0 -5
0 -6
1 4
1 3
1 2
1 1
1 0
1 -1
1 -2
1 -3
1 -4
1 -5
1 -6
2 4
2 3
2 2
2 1
2 0
2 -1
2 -2
2 -3
2 -4
2 -5
2 -6
3 4
3 3
3 2
3 1
3 0
3 -1
3 -2
3 -3
3 -4
3 -5
3 -6
4 4
4 3
4 2
4 1
4 0
4 -1
4 -2
4 -3
4 -4
4 -5
4 -6
5 4
5 3
5 2
5 1
5 0
5 -1
5 -2
5 -3
5 -4
5 -5
5 -6

In [16]:
for i in range(11 , -1, -2):
    for j in range(-7, 1, 1):
        print(i, j)

11 -7
11 -6
11 -5
11 -4
11 -3
11 -2
11 -1
11 0
9 -7
9 -6
9 -5
9 -4
9 -3
9 -2
9 -1
9 0
7 -7
7 -6
7 -5
7 -4
7 -3
7 -2
7 -1
7 0
5 -7
5 -6
5 -5
5 -4
5 -3
5 -2
5 -1
5 0
3 -7
3 -6
3 -5
3 -4
3 -3
3 -2
3 -1
3 0
1 -7
1 -6
1 -5
1 -4
1 -3
1 -2
1 -1
1 0

In [17]:
i = 11
while i >= 0 :
    j = -7
    while j <= 0 :
        print(i, j)
        j = j+1
    i = i-2

11 -7
11 -6
11 -5
11 -4
11 -3
11 -2
11 -1
11 0
9 -7
9 -6
9 -5
9 -4
9 -3
9 -2
9 -1
9 0
7 -7
7 -6
7 -5
7 -4
7 -3
7 -2
7 -1
7 0
5 -7
5 -6
5 -5
5 -4
5 -3
5 -2
5 -1
5 0
3 -7
3 -6
3 -5
3 -4
3 -3
3 -2
3 -1
3 0
1 -7
1 -6
1 -5
1 -4
1 -3
1 -2
1 -1
1 0

In [8]:
for i in range(11, -1, -2):
    for j in range(-7, 1, 1):
        print(i, j)

11 -7
11 -6
11 -5
11 -4
11 -3
11 -2
11 -1
11 0
9 -7
9 -6
9 -5
9 -4
9 -3
9 -2
9 -1
9 0
7 -7
7 -6
7 -5
7 -4
7 -3
7 -2
7 -1
7 0
5 -7
5 -6
5 -5
5 -4
5 -3
5 -2
5 -1
5 0
3 -7
3 -6
3 -5
3 -4
3 -3
3 -2
3 -1
3 0
1 -7
1 -6
1 -5
1 -4
1 -3
1 -2
1 -1
1 0

In [9]:
i = 11
while i >= 0:
    j = -7
    while j <= 0:
        print(i, j)
        j = j+1
    i = i-2

11 -7
11 -6
11 -5
11 -4
11 -3
11 -2
11 -1
11 0
9 -7
9 -6
9 -5
9 -4
9 -3
9 -2
9 -1
9 0
7 -7
7 -6
7 -5
7 -4
7 -3
7 -2
7 -1
7 0
5 -7
5 -6
5 -5
5 -4
5 -3
5 -2
5 -1
5 0
3 -7
3 -6
3 -5
3 -4
3 -3
3 -2
3 -1
3 0
1 -7
1 -6
1 -5
1 -4
1 -3
1 -2
1 -1
1 0

In [1]:
i = 14
while i >= 8:
    j = 5
    while j >= -3:
        print(i, j)
        j = j - 1
    i = i - 1

14 5
14 4
14 3
14 2
14 1
14 0
14 -1
14 -2
14 -3
13 5
13 4
13 3
13 2
13 1
13 0
13 -1
13 -2
13 -3
12 5
12 4
12 3
12 2
12 1
12 0
12 -1
12 -2
12 -3
11 5
11 4
11 3
11 2
11 1
11 0
11 -1
11 -2
11 -3
10 5
10 4
10 3
10 2
10 1
10 0
10 -1
10 -2
10 -3
9 5
9 4
9 3
9 2
9 1
9 0
9 -1
9 -2
9 -3
8 5
8 4
8 3
8 2
8 1
8 0
8 -1
8 -2
8 -3

In [2]:
for i in range(14, 7, -2) :
    for j in range(5, -4, -1):
        print(i, j)

14 5
14 4
14 3
14 2
14 1
14 0
14 -1
14 -2
14 -3
12 5
12 4
12 3
12 2
12 1
12 0
12 -1
12 -2
12 -3
10 5
10 4
10 3
10 2
10 1
10 0
10 -1
10 -2
10 -3
8 5
8 4
8 3
8 2
8 1
8 0
8 -1
8 -2
8 -3

In [1]:
for i in range(0, 20, 1) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
i = 0
while i <= 18 :
    print(i)
    i = i+2

0
2
4
6
8
10
12
14
16
18

In [5]:
for i in range(1, 20, 2) :
    print(i)

1
3
5
7
9
11
13
15
17
19

In [6]:
i = 19
while i >= 0 :
    print(i)
    i = i-1

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [8]:
for i in range(18, -1, -2) :
    print(i)

18
16
14
12
10
8
6
4
2
0

In [9]:
i = 19
while i >= 1 :
    print(i)
    i = i-2

19
17
15
13
11
9
7
5
3
1

In [10]:
for i in range(-3, 10, 1) :
    print(i)

-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [11]:
i = -9
while i <= 0 :
    print(i)
    i = i+1

-9
-8
-7
-6
-5
-4
-3
-2
-1
0

In [12]:
for i in range(-5, -16, -1) :
    print(i)

-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15

In [13]:
i = -5
while i >= -16 :
    print(i)
    i = i-2

-5
-7
-9
-11
-13
-15

In [15]:
n = int(input())
sumx = 0
for i in range(1, n+1) :
    sumx = sumx + i
print(sumx)

15

In [1]:
n = int(input())
sumx = 1
for i in range(1, n+1):
    sumx= sumx*i
print(sumx)

120

In [2]:
n = int(input())
sumx = 0
i = 1
while i <= n :
    sumx = sumx + 1/i
    i = i+1
print(sumx)

2.9289682539682538

In [3]:
n = int(input())
sumx = 0
i = 1
while i <= n :
    sumx = sumx + 1/(i**2)
    i = i + 1
print(sumx)

1.5497677311665408

In [5]:
n = int(input())
sumx = 0
for i in range(1, n+1):
    sumx = sumx + 1/i**2
pi = (6*sumx)**1/2
print(pi)

4.904951700554677

In [7]:
n = int(input())
sumx = 0
i = 1
while i <= n :
    sumx = sumx + 1/i**2
    i = i + 1
pi = (6*sumx)**1/2
print(pi)

4.904951700554677

In [8]:
for i in range(1, 100) :
    if i%3 == 0 :
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [1]:
for i in range(1, 100) :
    if (i%3 == 0) and (i%5 == 0) :
        print(i)

15
30
45
60
75
90

In [4]:
for i in range(1, 100):
    if (i % 3 == 0) or (i % 5 == 0):
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99

In [ ]:
for i in range(1, 1000):
    if (i % 3 == 0) and (i % 5 == 0) and (i % 7 == 0):
        print(i)

105
210
315
420
525
630
735
840
945

In [ ]:
for i in range(1, 100) :
    if i%3 == 0 :
        if i%5 != 0 :
            print(i)
    else :
        if i%5 == 0 :
            print(i)

3
5
6
9
10
12
18
20
21
24
25
27
33
35
36
39
40
42
48
50
51
54
55
57
63
65
66
69
70
72
78
80
81
84
85
87
93
95
96
99

In [ ]:
for i in range(1, 100) :
    if (i%3 == 0) and (i%5 == 0) :
        if i%2 != 0 :
            print(i)

15
45
75

In [ ]:
for i in range(1, 100):
    if (i % 3 == 0) or (i % 5 == 0):
        if i % 2 != 0:
            print(i)

3
5
9
15
21
25
27
33
35
39
45
51
55
57
63
65
69
75
81
85
87
93
95
99

In [ ]:
count = 0
for i in range(1, 1000) :
    if i%3 == 0 :
        count = count + 1
print(count)

333

In [ ]:
sumx = 0
for i in range(1, 1000) :
    if i%3 == 0 :
        sumx = sumx + i
print(sumx)

166833

In [7]:
sumx = 0
for i in range(1, 6) :
    number = int(input())
    sumx = sumx + number
print(sumx)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
sumx_po = 0
sumx_op = 0
for i in range(1, 6) :
    number = float(input())
    if number >= 0 :
        sumx_po = sumx_po + number
    else :
        sumx_op = sumx_op + number
print('po', sumx_po)
print('op', sumx_op)

po 5.0
op -5.0

In [ ]:
pro = 1
for i in range(1, 6) :
    number = float(input())
    if number > 0 :
        pro = pro*number
print(pro)

8.0

In [ ]:
number = int(input())
for i in range(1, number+1) :
    if number%i == 0 :
        print(i)

1
2
3
4
6
8
12
24

In [ ]:
number = int(input())
count = 0
for i in range(1, number+1) :
    if number%i == 0 :
        count = count + 1
print(count)

8

In [ ]:
number = int(input())
count = 0
for i in range(1, number+1) :
    if number%i == 0 :
        count = count + 1
if count == 2 :
    print('is prime')
else :
    print('isn\'t prime')

isn't prime

In [ ]:
for i in range(1, 100) :
    count = 0
    for j in range(1, i+1) :
        if i%j == 0 :
            count = count + 1
    if count == 2 :
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
count_prime = 0
i = 1
while count_prime <= 99 :
    count = 0
    for j in range(1, i+1) :
        if i%j == 0 :
            count = count + 1
    if count == 2 :
        print(i)
        count_prime = count_prime + 1
    i = i + 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541

In [ ]:
count_prime = 0
sumx = 0
i = 1
while count_prime <= 99:
    count = 0
    for j in range(1, i+1):
        if i % j == 0:
            count = count + 1
    if count == 2:
        count_prime = count_prime + 1
        sumx = sumx + i
    i = i + 1
print(sumx)

24133

In [ ]:
str1 = input()
n = len(str1)
for i in range(n) :
    if i%2 == 0 :
        print(str1[i])

c
d
n

In [ ]:
str1 = input()
n = len(str1)
for i in range(n):
    if i % 2 != 0:
        print(str1[i])

o
i
g

In [ ]:
sumx = 0
for i in range(1, 6) :
    str1 = input(str(i))
    length = len(str1)
    sumx = sumx + length
print(sumx)

20

In [ ]:
str1 = input()
char1 = input()
if len(char1) == 1 :
    for i in range(len(str1)) :
        if str1[i] == char1 :
            print(i)

0

In [ ]:
sumx = 0
for i in range(1, 6) :
    str1 = input(str(i))
    for s in str1 :
        if s == 'a' :
            sumx = sumx + 1
print(sumx)

3

In [ ]:
a = 3
b = 2
print(a+b)

5

In [ ]:
sumx = 0
for i in range(32, 395) :
    if i%5 == 0 :
        sumx = sumx + i
print(sumx)

15300

In [ ]:
count = 0
for i in range(-43, 300, 11) :
    count = count + 1
print(count)

32

In [ ]:
x = int(input("จงบอกจำนวนมุมที่จะให้มี = "))
import turtle as t
for i in range(x) :
    t.forward(9)
    t.left(360/x)